include ../parts/header-business-hall.pug
include ../parts/halls-conference.pug
include ../parts/halls-press-center.pug
include ../parts/halls-troyanskii.pug

section.bottom-text--halls
    .container
        .row.row__slogan
            p.slogan__text.center К вашим слугам - персональный менеджер, который поможет решить организационные вопросы, связанные с мероприятием любого масштаба и формата.

            .btn.btn--blue Оставить заявку

include ../parts/footer.pug

