include ../parts/header-ceremonial-hall.pug
include ../parts/cyan-hall.pug
include ../parts/marble-hall.pug
include ../parts/ceremonial-hall-interiors.pug
include ../parts/ceremonial-hall-exteriors.pug

section.bottom-text--halls
    .container
        .row.row__slogan
            p.slogan__text.center Организация мероприятий в Константиновском дворце накладывает ряд ограничений, связанных с безопасностью, так как это Правительственная резиденция, но все это полностью компенсируется потрясающими возможностями площадки и впечатлениями, которые вы и ваши гости получите от события. 
            p.slogan__text.center Если у вас остались вопросы - мы на связи!
                br
                | Оставьте ваши данные - мы гарантируем, что наши менеджеры свяжутся с вами в ближайшее время.
        
            .btn.btn--blue Оставить заявку

include ../parts/footer.pug

