include ../parts/header.pug
include ../parts/home-about.pug
include ../parts/home-rooms.pug
include ../parts/home-cottages.pug
include ../parts/home-spa.pug
include ../parts/home-restaurants.pug
include ../parts/home-conference-halls.pug
include ../parts/home-ceremonial-halls.pug
include ../parts/home-actions.pug


section.pre-footer
    .container 
        .row 
            .section-title Контакты
include ../parts/footer.pug