include ../parts/header.pug
include ../parts/home-about.pug
include ../parts/home-rooms.pug
include ../parts/home-cottages.pug
include ../parts/home-spa.pug




//- include ../parts/footer.pug