section.actions 
    .container 
        .row.row__single-action.action--left
            .action__photo(style="background-image: url(/img/action-1.jpg);")
            .action__info 
                h3.action__title СКИДКА 15% при раннем бронировании
                .content-box 
                    p При бронировании номера в отеле «Балтийская Звезда» или коттеджа комплекса «Консульская деревня» не менее, чем за 30 суток до заезда, вы получаете скидку 15%*.
                    p 
                        b *Скидка распространяется только на базовый тариф, при бронировании через наш официальный сайт и предоплате 100%.

                .btn.btn--blue Забронировать



        .row.row__single-action.action--right 
            .action__photo(style="background-image: url(/img/action-2.jpg);")
            .action__info 
                h3.action__title СКИДКА постоянному гостю
                .content-box 
                    p При повторном бронировании номера в отеле «Балтийская Звезда» или коттеджа комплекса «Консульская деревня» вы получаете скидку 10%*.
                    p 
                        b *Скидка распространяется только на базовый тариф и действует при прямом бронировании по телефону: +78124385700. Скидка действует в течение 3 месяцев с даты первого заезда в отель «Балтийская Звезда» и 6 месяцев с даты первого заезда в коттедж «Консульской деревни».
                    p 
                        b Скидка 15%* предоставляется, начиная с четвертого проживания в отеле «Балтийская Звезда» или в коттедже комплекса «Консульская деревня».
                    p 
                        b * Скидка распространяется только на базовый тариф и действует при прямом бронировании по телефону: +78124385700. Скидка действует в течение 9 месяцев с даты первого заезда в отель «Балтийская Звезда» или в коттедж комплекса «Консульская деревня».



        .row.row__single-action.action--left
            .action__photo(style="background-image: url(/img/action-3.jpg);")
            .action__info 
                h3.action__title СКИДКИ при длительном проживании
                .content-box 
                    p При непрерывном проживании в отеле «Балтийская Звезда» или коттедже комплекса «Консульская деревня» от 7 до 13 ночей, вы получаете скидку 10%*.
                    p При непрерывном проживании в отеле «Балтийская Звезда» или коттедже комплекса «Консульская деревня» от 14 ночей, вы получаете скидку 15%*.
                    p 
                        b *Скидка распространяется только на базовый тариф и действует при бронировании через наш официальный сайт. При сокращении срока непрерывного проживания, скидка аннулируется, оплата производится по базовому тарифу.

                .btn.btn--blue Забронировать



        .row.row__single-action.action--right 
            .action__photo(style="background-image: url(/img/action-4.jpg);")
            .action__info 
                h3.action__title СКИДКА 10% в благодарность
                .content-box 
                    p При бронировании номера в отеле «Балтийская Звезда» или коттеджа комплекса «Консульская деревня» предоставляется скидка 10%* участникам ВОВ, ветеранам труда, а также лицам, имеющим вторую или первую группу инвалидности.
                    p 
                        b *Скидка распространяется только на базовый тариф и действует при прямом бронировании по телефону: +7812438570.
                    p Обязательным условием получения скидки является предъявление оригинала подтверждающего документа.



        .row.row__single-action.action--left
            .action__photo(style="background-image: url(/img/action-5.jpg);")
            .action__info 
                h3.action__title Торжество со СКИДКОЙ 10%
                .content-box 
                    p Забронируйте проживание в отеле «Балтийская Звезда» или коттедже комплекса «Консульская деревня» на день рождения, день свадьбы или день годовщины свадьбы и получите скидку 10%*!
                    p 
                        b *Скидка распространяется только на базовый тариф и действует при бронировании через наш официальный сайт.
                    p Скидка на бронирование предоставляется в день торжественной даты, а также в течение трех дней до и после праздника. Обязательным условием получения скидки является предъявление оригинала подтверждающего документа.
                    p Скидка не распространяется на номера категории «Стандарт» и «Делюкс».

                .btn.btn--blue Оставить заявку



        .row.row__single-action.action--right 
            .action__photo(style="background-image: url(/img/action-6.jpg);")
            .action__info 
                h3.action__title Номер в подарок
                .content-box 
                    p При заказе свадебного банкета в любом из ресторанов гостиницы "Балтийская Звезда"- номер в ПОДАРОК!
                    p Предложение действует при заказе банкета от 150 000 рублей.


                .btn.btn--blue Оставить заявку


        .row.row__actions-seo
            .content-box.center
                p В стоимость проживания в нашем отеле входит: неограниченное посещение СПА-центра, пользование бизнес-центром, комплимент от отеля в День рождения или в годовщину свадьбы, а также возможность совершить прогулку по парку Константиновского дворца.
