section.broniruite-na-saite
    .container
        .row.row__advantages
            h1.section-title Бронируйте на нашем сайте

            .advantages
                .advantage
                    img.advantage__icon(src="/img/icon-advantage-bron.png")
                    span.advantage__text Гарантия лучшей цены

                .advantage
                    img.advantage__icon(src="/img/icon-advantage-bron.png")
                    span.advantage__text Специальные предложения

                .advantage
                    img.advantage__icon(src="/img/icon-advantage-bron.png")
                    span.advantage__text Неограниченное посещение СПА-центра

                .advantage
                    img.advantage__icon(src="/img/icon-advantage-bron.png")
                    span.advantage__text прогулка по парку Константиновского дворца

            .content-box 
                p В соответствии с Законом Санкт-Петербурга от 28 июня 2023 года № 419-81 «О введении на территории Санкт-Петербурга курортного сбора» с 1 апреля 2024 года взимается курортный сбор за пользование курортной инфраструктурой Санкт-Петербурга. Размер курортного сбора для лиц, достигших 18 лет, за сутки фактического проживания в объекте размещения составляет: 100 рублей.
                p От уплаты курортного сбора освобождена 21 льготная категория граждан, в том числе ветераны, инвалиды 1-2 групп, студенты вузов Санкт-Петербурга, члены многодетных семей, лица, имеющие место жительства на территории Санкт-Петербурга и другие. При наличии льготы проживающим при себе необходимо иметь подлинник документа, подтверждающего наличие льготы, или его копию, заверенную в установленном порядке.


        .row.row__rooms
            .rooms-list 
                .room
                    .room__slider.js__room-slider 
                        .swiper-wrapper 
                            .swiper-slide 
                                .inner 
                                    .room__photo(style="background-image:url(/img/room__standard.jpg)")
                        .controls 
                            .prev
                            .next 
                            
                    .room__info
                        .content-box 
                            h3 Стандарт

                            p Элегантный и комфортный номер идеально подходит для отдыха и работы.
                            ul
                                li Площадь — до 25 кв.м.
                                li Кровати - 1 King или 2 Singles
                                li Бесплатный WI-FI
                                li Дополнительное место не предоставляется
                        .btn.btn--blue Подробнее


                .room
                    .room__slider.js__room-slider 
                        .swiper-wrapper 
                            .swiper-slide 
                                .inner 
                                    .room__photo(style="background-image:url(/img/room__deluxe.jpg)")
                        .controls 
                            .prev
                            .next 
                    .room__info
                        .content-box 
                            h3 ДЕЛЮКС

                            p Удобный и просторный номер, отвечающий всем требованиям делового человека.
                            ul
                                li Площадь – 25-32 кв.м.
                                li Кровати – 1 King или 2 Singles
                                li Бесплатный WI-FI
                                li Возможно предоставление дополнительного места

                        .btn.btn--blue Подробнее



                .room
                    .room__slider.js__room-slider 
                        .swiper-wrapper 
                            .swiper-slide 
                                .inner 
                                    .room__photo(style="background-image:url(/img/room__halfluxe.jpg)")
                        .controls 
                            .prev
                            .next 

                    .room__info
                        .content-box 
                            h3 ПОЛУЛЮКС
                            p Большой и элегантный номер, состоящий из прихожей и спальни. 
                            ul 
                                li Площадь – 44-50 кв.м.
                                li Кровати – 1 King
                                li Бесплатный WI-FI
                                li Возможно предоставление дополнительного места

                        .btn.btn--blue Подробнее


                .room
                    .room__slider.js__room-slider 
                        .swiper-wrapper 
                            .swiper-slide 
                                .inner 
                                    .room__photo(style="background-image:url(/img/room__luxe.jpg)")
                        .controls 
                            .prev
                            .next 
                    .room__info
                        .content-box 
                            h3 ЛЮКС
                            p Светлый, просторный номер со спальней и гостиной.
                            ul 
                                li Площадь – 44-50 кв.м.
                                li Кровати – 1 King
                                li Бесплатный WI-FI
                                li Возможно предоставление дополнительного места

                        .btn.btn--blue Подробнее



                .room
                    .room__slider.js__room-slider 
                        .swiper-wrapper 
                            .swiper-slide 
                                .inner 
                                    .room__photo(style="background-image:url(/img/room__luxe-premium.jpg)")
                        .controls 
                            .prev
                            .next 

                    .room__info
                        .content-box 
                            h3 ЛЮКС ПРЕМИУМ
                            p Просторный двухкомнатный номер, для ценителей истинного комфорта и роскоши.
                            ul 
                                li Площадь – 76 кв.м.
                                li Кровати – 1 King
                                li Бесплатный WI-FI
                                li Возможно предоставление дополнительного места

                        .btn.btn--blue Подробнее


                .room
                    .room__slider.js__room-slider 
                        .swiper-wrapper 
                            .swiper-slide 
                                .inner 
                                    .room__photo(style="background-image:url(/img/room__president.jpg)")
                        .controls 
                            .prev
                            .next 

                    .room__info
                        .content-box 
                            h3 ПРЕЗИДЕНТСКИЕ АПАРТАМЕНТЫ
                            p Эксклюзивные и роскошные апартаменты для самых дорогих гостей.
                            ul 
                                li Площадь – 170 кв.м.
                                li Кровати – 2 Kings
                                li Бесплатный WI-FI
                                li Возможно предоставление дополнительного места

                        .btn.btn--blue Подробнее


        .row.row__rooms-seo
            .content-box.center
                p Подарите маленькое путешествие своим близким - приобретите подарочный сертификат в наш отель. Его главное преимущество – универсальность, ведь он отлично подойдет в качестве подарка молодоженам, семье с детьми, коллегам, второй половинке, родителям или друзьям.

                .btn.btn--blue Оставить заявку