section.carousel-menus 
    .container 
        .row 
            .section-title Варианты меню для ваших торжеств

        .row.row__menu-slider.js__menu-slider 
            .swiper 
                .swiper-wrapper 
                    .swiper-slide 
                        .inner(style="background-image:url(/img/rest-menu__coffee-break.jpg)")
                            .menu-title МЕНЮ КОФЕ-БРЕЙКА

                    .swiper-slide 
                        .inner(style="background-image:url(/img/rest-menu__banket.jpg)")
                            .menu-title БАНКЕТНОЕ МЕНЮ

                    .swiper-slide 
                        .inner(style="background-image:url(/img/rest-menu__furshet.jpg)")
                            .menu-title ФУРШЕТНОЕ МЕНЮ
            .controls
                .prev 
                .next
                
        .row.row__slogan
            p.slogan__text.center Если вы приняли решение проводить мероприятие именно у нас, но испытываете трудности с выбором площадки, пожалуйста, свяжитесь с нашими менеджерами.
            p.slogan__text.center Специалисты отдела продаж ответят на все ваши вопросы и, при необходимости, подскажут, как разместить участников, как определиться с меню и какую технику лучше установить.

            .btn.btn--blue Оставить заявку