section.palace-interiors
    .container 
        .row 
            .section-title Интерьеры Константиновского дворца

        .row.row__interior-slider
            .swiper.js__interiors-slider 
                .swiper-wrapper 
                    .swiper-slide(style="background-image:url(/img/interior-01.jpg)")
                    .swiper-slide(style="background-image:url(/img/interior-02.jpg)")
                    .swiper-slide(style="background-image:url(/img/interior-03.jpg)")
                    .swiper-slide(style="background-image:url(/img/interior-04.jpg)")
                    .swiper-slide(style="background-image:url(/img/interior-05.jpg)")
                    .swiper-slide(style="background-image:url(/img/interior-06.jpg)")