section.palace-exteriors
    .container 
        .row 
            .section-title Экстерьер Константиновского дворца

        .row.row__exteriors-slider 
            .swiper.js__exteriors-slider
                .swiper-wrapper 
                    .swiper-slide(style="background-image:url(/img/exterior-01.jpg)")
                .controls
                    .prev 
                    .next