section.cottages 
    .container 
        .row
            .section-title Коттеджи комплекса "Консульская деревня"


        .row.row__first-line 
            .swiper.js__consul-village 
                .swiper-wrapper 
                    .swiper-slide 
                        .inner
                            .bg-image(style="background-image: url(/img/cottages__first-line.jpg)")
                .controls 
                    .prev
                    .next 
            
            .info 
                .info__text
                    .content-box.center 
                        p Коттеджи на первой береговой линии имеют восхитительный панорамный вид на водную гладь. У каждого здания имеется собственный сад.
                        p Площадь: 1200 кв.м
                        p Вместимость: 12 человек

                        .btn Забронировать

        .row.row__petrovskii
            .swiper.js__petrovskii
                .swiper-wrapper 
                    .swiper-slide 
                        .inner
                            .bg-image(style="background-image: url(/img/cottages__petrovskii.jpg)")
                .controls 
                    .prev
                    .next 
            .info 
                .info__text
                    .content-box.center 
                        h3 КОТТЕДЖ “ПЕТРОВСКИЙ”
                        p Эксклюзивная локация на Петровском острове на берегу Малой Невки.
                        p Площадь: 340 кв.м
                        p Вместимость: 10 человек

                .btn.btn--blue Забронировать