section.common-hall.cyan-hall
    .container
        .row.row__hall 
            .col.col__info 
                .section-title Голубой зал

                .content-box 
                    p Самый большой зал «Дворца конгрессов» (площадь 351 м², высота потолков 8,8 м.), занимающий все пространство бельэтажа восточного крыла Константиновского дворца.
                    p Эффектная особенность заключается в чередовании больших окон и соразмерных им зеркал. Благодаря такому сочетанию достигается воздушность и легкость помещения.
                    p Из окон зала открывается перспектива на Нижний парк и Финский залив. Роскошное место для торжественного мероприятия до 250 гостей.

                .btn.btn--blue Оставить заявку

            .col.col__photo 
                .bg-photo 
                
                .hall__gallery
                    .swiper.js__hall-gallery
                        .swiper-wrapper 
                            .swiper-slide(style="background-image:url(/img/cyan-hall.jpg)") 
                        .controls
                            .prev 
                            .next 