footer 
    .container 
        .row.row__footer 
            .col.col__addresses
                .address 
                    img.address__icon(src="/img/icon-geo.svg")
                    div.address__text 198515 Стрельна
                        br
                        | Санкт-Петербург
                        br
                        |ул. Глинки, д.6., с.4

                .address 
                    img.address__icon(src="/img/icon-wa.svg")
                    div.address__text +7 (812) 438-57-00
                        br
                        | +7 (812) 438-57-15
                        br  
                        | +7 (921) 894-03-77

                .address 
                    img.address__icon(src="/img/icon-mail.svg")
                    div.address__text booking@strelna.info
                        br
                        | sales@strelna.info

                .socials 
                    a.soc(href="#")
                        img.icon-vk(src="/img/icon-vk.png")
                    a.soc(href="#")
                        img.icon-ok(src="/img/icon-ok.png")
                    a.soc(href="#")
                        img.icon-wa(src="/img/icon-wa.svg")
                    a.soc(href="#")
                        img.icon-tgm(src="/img/icon-tgm.svg")

                .payments 
                    img.payments__img(src="/img/icon-payments.png")

                .get-taxi(href="https://3.redirect.appmetrica.yandex.com/route?end-lat=59.856713&end-lon=30.064636&tariffClass=business&ref=https%3A%2F%2Fhotel.konstantinpalace.ru%2F&appmetrica_tracking_id=1178268795219780156&lang=ru&data-app=3")
                    img(src="/img/icon-order-taxi.png")

            .col.col__map 
                iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A972cf48055010279c55abf28e5f74f382fbea07f26cd5edd14769f7504dcf48c&amp;source=constructor" width="720" height="440" frameborder="0")

            .col.col__links
                ul.footer__menu 
                    li.menu__item 
                        a.menu__link(href="#") Главная
                    li.menu__item 
                        a.menu__link(href="#") Номера
                    li.menu__item 
                        a.menu__link(href="#") Коттеджи
                    li.menu__item 
                        a.menu__link(href="#") Спортивно-оздоровительный центр
                    li.menu__item 
                        a.menu__link(href="#") Рестораны
                    li.menu__item 
                        a.menu__link(href="#") Бизнес-центры
                    li.menu__item 
                        a.menu__link(href="#") Парадные залы
                    li.menu__item 
                        a.menu__link(href="#") Спецпредложения


                img.dela-prezidenta(src="/img/icon-upr-delami-prezidenta.png")

        .row.row__documents 
            .docs
                a.doc__link(href="#") Политика конфиденциальности
                a.doc__link(href="#") Правила предоставления гостиничных услуг
                a.doc__link(href="#") Использование материалов сайта
                a.doc__link(href="#") Согласие на обработку персональных данных
                a.doc__link(href="#") Договор-оферта