section.conference-halls 
    .container 
        .row.row__conference-halls

            .section-title Конференц-залы отеля "Балтийская звезда"

            .halls 
                .hall
                    .swiper.js__hall-gallery 
                        .swiper-wrapper 
                            .swiper-slide 
                                .inner
                                    .slide-bg(style="background-image:url(/img/rest__briz.jpg)")
                        .controls 
                            .prev 
                            .next

                .hall
                    .swiper.js__hall-gallery 
                        .swiper-wrapper 
                            .swiper-slide 
                                .inner
                                    .slide-bg(style="background-image:url(/img/rest__briz.jpg)")
                        .controls 
                            .prev 
                            .next

                .hall
                    .swiper.js__hall-gallery 
                        .swiper-wrapper 
                            .swiper-slide 
                                .inner
                                    .slide-bg(style="background-image:url(/img/rest__briz.jpg)")
                        .controls 
                            .prev 
                            .next

                .hall
                    .swiper.js__hall-gallery 
                        .swiper-wrapper 
                            .swiper-slide 
                                .inner
                                    .slide-bg(style="background-image:url(/img/rest__briz.jpg)")
                        .controls 
                            .prev 
                            .next

                .hall
                    .swiper.js__hall-gallery 
                        .swiper-wrapper 
                            .swiper-slide 
                                .inner
                                    .slide-bg(style="background-image:url(/img/rest__briz.jpg)")
                        .controls 
                            .prev 
                            .next

                .hall
                    .swiper.js__hall-gallery 
                        .swiper-wrapper 
                            .swiper-slide 
                                .inner
                                    .slide-bg(style="background-image:url(/img/rest__briz.jpg)")
                        .controls 
                            .prev 
                            .next