section.troyanskii-hall
    .container 
        .row
            .section-title Троянский зал
            .section-subtitle Государственного комплекса "ДВОРЕЦ КОНГРЕССОВ"

        .row.row__first-line 
            .swiper.js__press-hall 
                .swiper-wrapper 
                    .swiper-slide 
                        .inner
                            .bg-image(style="background-image: url(/img/hall-press.jpg)")
                .controls 
                    .prev
                    .next 
            
            .info 
                .info__text
                    .content-box.center 
                        h3 Троянский зал
                        p Площадь: 110 кв.м.
                        p Вместимость: 70 чел.

                        .btn Оставить заявку
