section.conference-halls 
    .container 
        .row.row__conference-halls

            .section-title Конференц-залы отеля "Балтийская звезда"

            .halls 
                .hall
                    .swiper.js__hall-gallery 
                        .swiper-wrapper 
                            .swiper-slide 
                                .inner
                                    .slide-bg(style="background-image:url(/img/rest__briz.jpg)")
                        .info
                            .area 
                                .icon
                                    img(src="/img/hall-icon-area.svg")
                                .value 45 кв.м.
                            .title Петровский зал
                            .capacity 
                                .icon 
                                    img(src="/img/hall-icon-capacity.svg")
                                .value 25 чел
                        .controls 
                            .prev 
                            .next

                .hall
                    .swiper.js__hall-gallery 
                        .swiper-wrapper 
                            .swiper-slide 
                                .inner
                                    .slide-bg(style="background-image:url(/img/rest__briz.jpg)")
                        .info
                            .area 
                                .icon
                                    img(src="/img/hall-icon-area.svg")
                                .value 45 кв.м.
                            .title Петровский зал
                            .capacity 
                                .icon 
                                    img(src="/img/hall-icon-capacity.svg")
                                .value 25 чел
                        .controls 
                            .prev 
                            .next

                .hall
                    .swiper.js__hall-gallery 
                        .swiper-wrapper 
                            .swiper-slide 
                                .inner
                                    .slide-bg(style="background-image:url(/img/rest__briz.jpg)")
                        .info
                            .area 
                                .icon
                                    img(src="/img/hall-icon-area.svg")
                                .value 45 кв.м.
                            .title Петровский зал
                            .capacity 
                                .icon 
                                    img(src="/img/hall-icon-capacity.svg")
                                .value 25 чел
                        .controls 
                            .prev 
                            .next

                .hall
                    .swiper.js__hall-gallery 
                        .swiper-wrapper 
                            .swiper-slide 
                                .inner
                                    .slide-bg(style="background-image:url(/img/rest__briz.jpg)")
                        .info
                            .area 
                                .icon
                                    img(src="/img/hall-icon-area.svg")
                                .value 45 кв.м.
                            .title Петровский зал
                            .capacity 
                                .icon 
                                    img(src="/img/hall-icon-capacity.svg")
                                .value 25 чел
                        .controls 
                            .prev 
                            .next

                .hall
                    .swiper.js__hall-gallery 
                        .swiper-wrapper 
                            .swiper-slide 
                                .inner
                                    .slide-bg(style="background-image:url(/img/rest__briz.jpg)")
                        .info
                            .area 
                                .icon
                                    img(src="/img/hall-icon-area.svg")
                                .value 45 кв.м.
                            .title Петровский зал
                            .capacity 
                                .icon 
                                    img(src="/img/hall-icon-capacity.svg")
                                .value 25 чел
                        .controls 
                            .prev 
                            .next

                .hall
                    .swiper.js__hall-gallery 
                        .swiper-wrapper 
                            .swiper-slide 
                                .inner
                                    .slide-bg(style="background-image:url(/img/rest__briz.jpg)")
                        .info
                            .area 
                                .icon
                                    img(src="/img/hall-icon-area.svg")
                                .value 45 кв.м.
                            .title Петровский зал
                            .capacity 
                                .icon 
                                    img(src="/img/hall-icon-capacity.svg")
                                .value 25 чел
                        .controls 
                            .prev 
                            .next