section.conf-hall 
    .container 
        .row
            .section-title Конференц-зал Пресс-центра

        .row.row__first-line 
            .swiper.js__press-hall 
                .swiper-wrapper 
                    .swiper-slide 
                        .inner
                            .bg-image(style="background-image: url(/img/hall-press.jpg)")
                .controls 
                    .prev
                    .next 
            
            .info 
                .info__text
                    .content-box.center 
                        h3 Конференц-зал Пресс-центра
                        p Площадь: 215 кв.м.
                        p Вместимость: 100 чел.
                        p В здании Пресс-центра также есть несколько переговорных комнат

                        //- p.icon-text 
                        //-     img(src="/img/hall-icon-area.svg", alt="Иконка площади") 
                        //-     span Площадь: 215 кв.м.
                        //- p.icon-text
                        //-     img(src="/img/hall-icon-capacity.svg", alt="Иконка вместимости")
                        //-     span Вместимость: 100 чел.

                        .btn Оставить заявку