doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title="Отель Балтийская Звезда"
		link(rel="stylesheet" href="/css/style.min.css")
		script(src='/js/libs.min.js')
		script(src='/js/main.js')

	body.home
		.header.header-rooms 
			.container(style="background-image: url(/img/headers__rooms.jpg);")
				.row
					.top-line
						.col.col__address
							.address Санкт-Петербург
							.address Стрельна
							.address ул. Глинки, д.6. с.4 

						.col.col__logo 
							a.logo(href="/")
								img.logo(src="/img/logo.svg")

						.col.col__contacts 
							a.contact(href="tel:+78124385700") +7 (812) 438-57-00
							a.contact(href="tel:+79218940377") +7 (921) 894-03-77
							a.contact(href="mailto:booking@strelna.info") booking@strelna.info
				.row
					.nav__wrap
						ul.nav
							li.nav__item 
								a.nav__link(href="#") Номера
							li.nav__item 
								a.nav__link(href="#") Коттеджи
							li.nav__item 
								a.nav__link(href="#") Спротивно-оздоровительный центр
							li.nav__item 
								a.nav__link(href="#") Рестораны
							li.nav__item 
								a.nav__link(href="#") Бизнес-залы
							li.nav__item 
								a.nav__link(href="#") Парадные зады
							li.nav__item 
								a.nav__link(href="#") Спецпредложения
						.burger.js__burger

				.row 
					.bronirovanie(style="background-image: url(/img/bronirovanie.png);")