section.home-spa 
    .container  
        .row 
            .section-title Спортивно-оздоровительный центр

        .row.row__spa-items 
            .spa-item(style="background-image:url(/img/spa-01.jpg)") 
                .name Бассейн
                .info 
                    .title Бассейн
                    .description Отличный способ отдохнуть в приятном тепле без лишнего жара
                    a.link(href="#") Подробнее

            .spa-item(style="background-image:url(/img/spa-02.jpg)") 
                .name Сауна
                .info 
                    .title Сауна
                    .description Отличный способ отдохнуть в приятном тепле без лишнего жара
                    a.link(href="#") Подробнее

            .spa-item(style="background-image:url(/img/spa-03.jpg)") 
                .name Хаммам
                .info 
                    .title Хаммам
                    .description Отличный способ отдохнуть в приятном тепле без лишнего жара
                    a.link(href="#") Подробнее

            .spa-item(style="background-image:url(/img/spa-04.jpg)") 
                .name Тренажерный зал
                .info 
                    .title Тренажерный зал
                    .description Отличный способ отдохнуть в приятном тепле без лишнего жара
                    a.link(href="#") Подробнее

            .spa-item(style="background-image:url(/img/spa-05.jpg)") 
                .name Инфракрасная сауна
                .info 
                    .title Инфракрасная сауна
                    .description Отличный способ отдохнуть в приятном тепле без лишнего жара
                    a.link(href="#") Подробнее

            .spa-item(style="background-image:url(/img/spa-06.jpg)") 
                .name Бильярд
                .info 
                    .title Бильярд
                    .description Отличный способ отдохнуть в приятном тепле без лишнего жара
                    a.link(href="#") Подробнее