sections.home-rooms 
    .container 
        .row.row__home-rooms
            .section-title Номера

        .rom.rom__home-rooms-slider 
            .swiper.js__rooms-slider 
                .swiper-wrapper 
                    .swiper-slide
                        .inner 
                            .info 
                                .title Номер категории “Делюкс”
                                .description Удобный и просторный номер, отвечающий всем требованиям делового человека
                                a.btn.btn--blue(href="#") Забронировать

                                .controls.controls__rooms 
                                    .prev 
                                    .next
                                            
                            
                            .swiper.js__room-photo 
                                .swiper-wrapper 
                                    .swiper-slide
                                        .inner(style="background-image:url(/img/home-room-01.jpg)")
                                            .info
                                                .area 
                                                    .icon
                                                        img(src="/img/hall-icon-area.svg")
                                                    .value 45 кв.м.
                                                .capacity 
                                                    .icon 
                                                        img(src="/img/icon-beds.svg")
                                                    .value 1 King или 2 Singles
                                .controls.controls__gallery 
                                    .prev 
                                    .next