section.home-restaurants
    .container(style="background-image:url(/img/rus_versalia.jpg)") 
        .row 
            .section-title Рестораны

            .restaurants__info
                p В отеле представлены рестораны “Русская Версалия”, “Северная Венеция” с террасой “Ласточкино гнездо” и лобби-бар “Бриз”. 
                p В здании Пресс-центра на берегу Финского залива расположен банкетный зал “Яхт-клуб”.
                p Наше разнообразное меню блюд русской и европейской кухни, вежливое обслуживание и теплая обстановка всегда к вашим услугам.
                p Все площадки оборудованы необходимым инвентарем для свадеб, банкетов и других торжеств.
            
            a.restaurants__more(href="restaurants.html") Подробнее