section.home-spa 
    .container  
        .row 
            .section-title Спортивно-оздоровительный центр

        .row.row__spa-items 
            .spa-item 
                .name Бассейн
                .info 
                    .title Бассейн
                    .description Отличный способ отдохнуть в приятном тепле без лишнего жара
                    a.link(href="#") Подробнее

            .spa-item 
                .name Сауна
                .info 
                    .title Сауна
                    .description Отличный способ отдохнуть в приятном тепле без лишнего жара
                    a.link(href="#") Подробнее

            .spa-item 
                .name Хаммам
                .info 
                    .title Хаммам
                    .description Отличный способ отдохнуть в приятном тепле без лишнего жара
                    a.link(href="#") Подробнее

            .spa-item 
                .name Тренажерный зал
                .info 
                    .title Тренажерный зал
                    .description Отличный способ отдохнуть в приятном тепле без лишнего жара
                    a.link(href="#") Подробнее

            .spa-item 
                .name Инфракрасная сауна
                .info 
                    .title Инфракрасная сауна
                    .description Отличный способ отдохнуть в приятном тепле без лишнего жара
                    a.link(href="#") Подробнее

            .spa-item 
                .name Бильярд
                .info 
                    .title Бильярд
                    .description Отличный способ отдохнуть в приятном тепле без лишнего жара
                    a.link(href="#") Подробнее