section.home-actions 
    .container 
        .row 
            .section-title Спецпредложения

        .row.row__home-actions
            .swiper.home-actions__slider.js__home-actions-slider 
                .swiper-wrapper 
                    .swiper-slide 
                        .inner 
                            .home-actions__photo(style="background-image:url(/img/room__standard.jpg)")

                            .home-actions__info
                                .content-box 
                                    h3 СКИДКА 15% при раннем бронировании

                                    p При бронировании номера в отеле «Балтийская Звезда» или коттеджа комплекса «Консульская деревня» не менее, чем за 30 суток до заезда, вы получаете скидку 15%*.
                                        br
                                        | *Скидка распространяется только на базовый тариф, при бронировании через наш официальный сайт и предоплате 100%.

                                .btn.btn--blue Забронировать

                .controls 
                    .prev
                    .next 





