section.home-about
    .container 
        .row.row__home-about 
            .col.col__photo
                .bg-block(style="background-image:url(/img/home-about-photo.jpg)") 
            .col.col__info 
                .content-box 
                    p Пятизвездочный гостиничный комплекс “Балтийская Звезда” расположен в исторической парковой зоне на южном побережье Финского залива, окружен Константиновским дворцово-парковым ансамблем и является частью Государственного комплекса "Дворец конгрессов".
                    p К вашим услугам:
                    ul
                        li 106 просторных номеров и 20 элегантно оформленных коттеджей 
                        li уникальная возможность совершать прогулки по живописному парку Константиновского дворца
                        li собственный причал на 5 судов на южном побережье Финского залива
                        li спортивно-оздоровительный центр: бассейном, сауны, хаммам, бильярд, солярий, тренажерный зал
                        li гастрономическое разнообразие: ресторан "Северная Венеция", ресторан "Русская Версалия", терраса "Ласточкино гнездо", лобби-бар "Бриз"
                        li игровая зона для маленьких гостей
                        li бизнес-пространство и парадные залы для проведения мероприятий любого масштаба