section.home-conference-halls
    .container 
        .row 

            .section-title Конференц-залы

            .description 
                .text На наших площадках проходит более 300 мероприятий в год! Это всевозможные выставки и форумы, конференции и концерты, свадьбы и юбилеи,  выступления спикеров и съемки фильмов.
                    br
                    | Оставьте заявку и мы поможем сделать ваше торжество  ярким и незабываемым.
                .btn.btn--blue Оставить заявку

        .row.row__slider
            .swiper.js__halls-home-slider
                .swiper-wrapper 
                    .swiper-slide 
                        .swiper.js__hall-gallery 
                            .swiper-wrapper 
                                .swiper-slide 
                                    .inner
                                        .slide-bg(style="background-image:url(/img/home-hall-01.jpg)")
                            .info
                                .area 
                                    .icon
                                        img(src="/img/hall-icon-area.svg")
                                    .value 45 кв.м.
                                .title Петровский зал
                                .capacity 
                                    .icon 
                                        img(src="/img/hall-icon-capacity.svg")
                                    .value 25 чел
                            .controls 
                                .prev 
                                .next


                    .swiper-slide 
                        .swiper.js__hall-gallery 
                            .swiper-wrapper 
                                .swiper-slide 
                                    .inner
                                        .slide-bg(style="background-image:url(/img/home-hall-02.jpg)")
                            .info
                                .area 
                                    .icon
                                        img(src="/img/hall-icon-area.svg")
                                    .value 45 кв.м.
                                .title Петровский зал
                                .capacity 
                                    .icon 
                                        img(src="/img/hall-icon-capacity.svg")
                                    .value 25 чел
                            .controls 
                                .prev 
                                .next


                    .swiper-slide 
                        .swiper.js__hall-gallery 
                            .swiper-wrapper 
                                .swiper-slide 
                                    .inner
                                        .slide-bg(style="background-image:url(/img/home-hall-03.jpg)")
                            .info
                                .area 
                                    .icon
                                        img(src="/img/hall-icon-area.svg")
                                    .value 45 кв.м.
                                .title Петровский зал
                                .capacity 
                                    .icon 
                                        img(src="/img/hall-icon-capacity.svg")
                                    .value 25 чел
                            .controls 
                                .prev 
                                .next


                    .swiper-slide 
                        .swiper.js__hall-gallery 
                            .swiper-wrapper 
                                .swiper-slide 
                                    .inner
                                        .slide-bg(style="background-image:url(/img/home-hall-04.jpg)")
                            .info
                                .area 
                                    .icon
                                        img(src="/img/hall-icon-area.svg")
                                    .value 45 кв.м.
                                .title Петровский зал
                                .capacity 
                                    .icon 
                                        img(src="/img/hall-icon-capacity.svg")
                                    .value 25 чел
                            .controls 
                                .prev 
                                .next