section.home-cottages 
    .container 
        .row
            .section-title Коттеджи

        .row.row__cottages 
            .col
                .photo.photo__consult(style="background-image:url(/img/home-cottages-consult.jpg)")
                    .name Коттеджи "Консульская деревня" Стрельна
            .col
                .info 
                    .content-box 
                        p Коттеджи "Консульская деревня" расположены на южном берегу Финского залива. Каждый коттедж носит имя одного из великих городов России. Основной особенностью художественного оформления каждого коттеджа является колорит представленного региона, города.
                        p Коттедж «Петровский» расположен на Петровском острове на берегу реки Малая Невка. Интерьер коттеджа выполнен в классическом стиле.
                        .btn.btn--blue Забронировать    
            .col
                .photo.photo__petrovskii(style="background-image:url(/img/home-cottages-petrovskii.jpg)")
                    .name Коттедж "Петровский" Петровский остров