section.home-ceremonial-halls
    .container  
        .row
            .section-title Парадные залы

        .row.row__home-ceremonial
            .inner-left(style="background-image:url(/img/home-ceremonial-left.jpg)")
                .content-block 
                    p Территория государственного комплекса «Дворец конгрессов» способна удивить даже самых взыскательных гостей!
                    p Архитектурной доминантой комплекса является великолепный Константиновский дворец, возрожденный историко-архитектурный памятник XVI I I века, бывшая резиденция великих князей из Дома Романовых. Дворец окружен каналами и парками, украшен неповторимым ансамблем фонтанов, разводными мостами и прекрасным розарием. Главные залы дворца наполнены историей и в то же время оснащены современными техническими средствами.
                    p Ваше мероприятие на территории исторической достопримечательности у побережья Финского залива - это редкая возможность, которую реально воплотить в жизнь.

                    a.link-more(href="#") Подробнее
            .inner-right(style="background-image:url(/img/home-ceremonial-right.jpg)")
