section.restaraunts
    .container 
        .row.row__restaraunts-list 
            .restaraunt 
                .col.restaraunt__gallery
                .col.restaraunt__info
                    .title Ресторан “Русская Версалия”
                    .info Вместимость: 200 чел.
                        | Площадь: 320 кв.м.
                        | Время работы: 12:00-23:00
                        | Рассадка: круглый стол, общий стол, 
                        | банкетная рассадка, ужин
                        | Заказать мероприятие: 
                        | +7 (812) 438-57-15

            .restaraunt.restaraunt--inverse
                .col.restaraunt__gallery
                .col.restaraunt__info
                    .title Ресторан “Северная Венеция” и терраса “Ласточкина гнездо”
                    .info Вместимость: 100 чел.
                        | Площадь: 190 кв.м.
                        | Время работы: 12:00-23:00
                        | Рассадка: круглый стол, банкетная рассадка, ужин
                        | Заказать мероприятия/Забронировать столик: 
                        | +7 (812) 438-57-15
                    a.link.link__menu(href="#") Меню

            .restaraunt.restaraunt--inverse 
                .col.restaraunt__gallery
                .col.restaraunt__info
                    .title Ресторан “Яхт-клуб”
                    .info Вместимость: 70 чел.
                        | Площадь: 250 кв.м.
                        | Время работы: 11:00-23:00
                        | Рассадка: круглый стол, банкетная рассадка, ужин
                        | Заказать мероприятие: +7 (812) 438-57-15

            .restaraunt
                .col.restaraunt__gallery
                .col.restaraunt__info
                    .title Лобби-бар “Бриз”
                    .info Время работы: круглосуточно
                        | Забронировать столик: +7 (812) 438-57-15
                    a.link.link__menu(href="#") Меню