section.common-hall.marble-hall
    .container
        .row.row__hall 
            .col.col__photo 
                .bg-photo 

                .hall__gallery
                    .swiper.js__hall-gallery
                        .swiper-wrapper 
                            .swiper-slide(style="background-image:url(/img/marble-hall.jpg)") 
                        .controls 
                            .prev 
                            .next 

            .col.col__info 
                .section-title Мраморный зал

                .content-box 
                    p Второй по величине зал Константиновского дворца (площадь 320 м², высота потолков 8,0 м). Самый большой зал «Дворца конгрессов» (площадь 351 м², высота потолков 8,8 м.), занимающий все пространство бельэтажа восточного крыла Константиновского дворца.
                    p Объемно-пространственное решение и великолепная акустика делают его идеальной площадкой для организации и проведения конференций, семинаров, выступлений артистов. Эффектная особенность заключается в чередовании больших окон и соразмерных им зеркал. Благодаря такому сочетанию достигается воздушность и легкость помещения.
                    p Внимание, правила пользования залом запрещают проведение здесь мероприятий, связанных с накрытием банкетов.Из окон зала открывается перспектива на Нижний парк и Финский залив. Роскошное место для торжественного мероприятия до 250 гостей.
                    p Максимальной рассадка - 250 человек.
                .btn.btn--blue Оставить заявку

