section.menu-sets 
    .container 
        .row.row__slogan
            p.slogan__text.center Если вы теряетесь перед обилием наших меню и напитков, то специально для вас мы придумали 3 дегустационных сета. Гастрономический сет-ужин с винным сопровождением — это квинтэссенция кулинарного гения шеф-повара и энологического таланта сомелье Константиновского дворца. Каждый сет представляет гостю идеально сбалансированную серию блюд и напитков.
            p.slogan__text.center Сет доступен к заказу с понедельника по четверг с 09:00 до 18:00.                                                                                                                                              

        .row.row__sets
            .set 
                .btn.btn--blue Оставить заявку

            .set 
                .btn.btn--blue Оставить заявку

            .set 
                .btn.btn--blue Оставить заявку