section.advantages-spa 
    .container

        .row.row-advantages 
            .advantage 
                img.advanage__icon(src="/img/icon-spa-pool.svg")
                p.advantage__text Пн.-вс.: 08:00-22:00
                    br
                    | Параметры: 5м*7м*1,5м
                    br
                    |Температура: 28°
            .advantage 
                img.advanage__icon(src="/img/icon-spa-banya.svg")
                p.advantage__text Пн.-вс.: 08:00-22:00
                    br
                    | Параметры: 1,5м*1,3м
                    br
                    | Температура: 82°
            .advantage 
                img.advanage__icon(src="/img/icon-spa-sauna.svg")
                p.advantage__text Пн.-вс.: 08:00-12:00, 
                    br
                    | 18:00-22:00
                    br
                    | Параметры: 1,5м*1,3м
                    br
                    | Температура: до 42°
            .advantage 
                img.advanage__icon(src="/img/icon-spa-hamam.svg")
                p.advantage__text Пн.-вс.: 08:00-12:00, 
                    br
                    | 18:00-22:00
                    br
                    | Параметры: 1,5м*1,3м
                    br
                    | Температура: выше 40°
            .advantage 
                img.advanage__icon(src="/img/icon-spa-gym.svg")
                p.advantage__text Пн.-вс.: 08:00-12:00,
                    br
                    | 18:00-22:00
                    br
                    | Кол-во: 13 шт.
            .advantage 
                img.advanage__icon(src="/img/icon-spa-billiard.svg")
                p.advantage__text Пн.-вс.: 08:00-22:00
                    br
                    | Кол-во: 1 русский стол, 
                    br
                    | 2 американских
                    br
                    | Кол-во: 13 шт.
            .advantage 
                img.advanage__icon(src="/img/icon-spa-restoraunt.svg")
                p.advantage__text Пн.-вс.: 08:00-22:00
                    br
                    a(href="#") Посмотреть
            .advantage 
                img.advanage__icon(src="/img/icon-spa-solarii.svg")
                p.advantage__text Пн.-вс.: 08:00-22:00
                    br
                    | Вертикальный солярий KBL MegaSun

        .row.row-pool-slider 
            .swiper.js__pool-slider 
                .swiper-wrapper 
                    .swiper-slide 
                        .inner 
                            .bg-image(style="background-image:url(/img/spa-pool.jpg)") 
                    .swiper-slide 
                        .inner 
                            .bg-image(style="background-image:url(/img/spa-pool.jpg)") 
                .controls 
                    .prev
                    .next 
                    
        .row.row-rules 
            .spa__rules Правила посещения СПА-центра

            .spa__price Прейскурант стоимости услуг СПА-центра

            .spa__trial-visit Записаться на разовое посещение или приобрести абонемент: 
                a.spa__trial-link(href="+78124385737") +7 (812) 438 57 37

