.conference-halls {
    .container {
        .row {
        }
        .row__conference-halls {
            .section-title {
                margin: 6rem 0 2.2rem 0;
            }

            .halls {
                display: flex;
                align-items: stretch;
                justify-content: space-between;
                max-width: 132rem;
                left: 50%;
                transform: translateX(-50%);
                flex-wrap: wrap;
                .hall {
                    width: 40rem;
                    height: 26.6rem;
                    margin: 0 0 3.5rem 0;
                    flex: none;
                    .swiper {
                        width: 100%;
                        height: 100%;
                        .swiper-wrapper {
                            height: 100%;
                            .swiper-slide {
                                width: 100%;
                                height: 100%;
                                .inner {
                                    width: 100%;
                                    height: 100%;
                                    .slide-bg {
                                        width: 100%;
                                        height: 100%;
                                        background-position: center;
                                        background-size: cover;
                                        background-repeat: no-repeat;
                                    }
                                }
                            }
                        }
                        .info {
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            position: absolute;
                            // bottom: 1.6rem;
                            bottom: 0;
                            padding-bottom: 1.6rem;
                            left: 0;
                            width: 100%;
                            color: #fff;
                            background: linear-gradient(180deg, rgba(0,0,0,0.05) 10%, rgba(0,0,0,0.45) 50%);
                            z-index: 15;

                            .area {
                                width: 30%;
                                -webkit-box-flex: 0;
                                -ms-flex: none;
                                flex: none;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                font-size: 1.3rem;
                                font-weight: 400;
                                padding: 0 0 0 2rem;
                                .icon {
                                    width: 3.5rem;
                                    height: 3.5rem;
                                    margin: 0 1rem 0 0;
                                    img {
                                        width: auto;
                                        height: auto;
                                        max-width: 100%;
                                        max-height: 100%;
                                    }
                                }
                                .value {
                                }
                            }
                            .title {
                                width: 40%;
                                text-align: center;
                                font-size: 1.3rem;
                                font-weight: bold;
                                flex: none;
                                padding: 0 1rem 0 0;
                            }
                            .capacity {
                                width: 25%;
                                -webkit-box-flex: 0;
                                -ms-flex: none;
                                flex: none;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                font-size: 1.3rem;
                                font-weight: 400;
                                .icon {
                                    width: 3.5rem;
                                    height: 3.5rem;
                                    margin: 0 1rem 0 0;
                                    img {
                                        width: auto;
                                        height: auto;
                                        max-width: 100%;
                                        max-height: 100%;
                                    }
                                }
                                .value {
                                }
                            }
                        }
                    }
                    .controls {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 90%;
                        height: 0;
                        bottom: 8.5rem;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 15;
                        .prev,
                        .next {
                            width: 1.4rem;
                            height: 1.4rem;
                            display: block;
                            top: 1.5rem;
                            transform: translateY(-50%);
                            background-image: url(/img/icon-slider-prev.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                            cursor: pointer;
                        }
                        .next {
                            background-image: url(/img/icon-slider-next.png);
                        }
                    }
                }
            }
        }
    }
}

.conf-hall {
    margin: 0 0 5rem 0;
    .container {
        .row {
            .section-title {
            }
        }
        .row__first-line {
            margin: 4.1em 0 3em;
            padding: 0 51rem 0 0;
            height: 58.2em;
            .swiper {
                height: 100%;
                width: 100%;
                .swiper-wrapper {
                    height: 100%;
                    .swiper-slide {
                        width: 100%;
                        height: 100%;
                        .inner {
                            width: 100%;
                            height: 100%;
                            .bg-image {
                                width: 100%;
                                height: 100%;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                                position: absolute;
                                z-index: 1;
                            }
                        }
                    }
                }
                .controls {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 67.6rem;
                    height: 0;
                    bottom: 9.4rem;
                    left: 9.8rem;
                    z-index: 15;
                    .prev,
                    .next {
                        width: 3rem;
                        height: 3rem;
                        display: block;
                        top: 1.5rem;
                        transform: translateY(-50%);
                        background-image: url(/img/icon-slider-prev.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        cursor: pointer;
                    }
                    .next {
                        background-image: url(/img/icon-slider-next.png);
                    }
                }
            }
            .info {
                background: $blue;
                width: 49.7rem;
                padding: 7.6em 2.2em 6.5rem;
                top: 8.2rem;
                z-index: 10;
                position: absolute;
                right: 11rem;
                .info__text {
                    text-align: center;
                    .content-box {
                        color: $white;

                        h3 {
                            text-transform: uppercase;
                            font-size: 2em;
                            line-height: 1.4;
                            margin-bottom: 0.4em;
                        }
                        p {
                            font-size: 1.8em;
                            line-height: 1.6;
                            margin-bottom: 0.6em;
                        }
                    }

                    .btn {
                        margin: 2.7em auto 0.8em;
                        padding: 0.5em 2em;
                    }
                }
            }
        }
    }
}

.troyanskii-hall {
    margin: 5rem 0 3.6rem 0;
    .container {
        .row {
            .section-title {
            }
            .section-subtitle {
                font-size: 5rem;
                width: 100%;
                text-align: center;
                margin: 0 0 5rem 0;
                padding: 0;
                color: $blue;
            }
        }
        .row__first-line {
            margin: 4.1em 0 0;
            padding: 0 0 0 51rem;
            height: 58.2em;
            .swiper {
                height: 100%;
                width: 100%;
                .swiper-wrapper {
                    height: 100%;
                    .swiper-slide {
                        width: 100%;
                        height: 100%;
                        .inner {
                            width: 100%;
                            height: 100%;
                            .bg-image {
                                width: 100%;
                                height: 100%;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                                position: absolute;
                                z-index: 1;
                            }
                        }
                    }
                }
                .controls {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 67.6rem;
                    height: 0;
                    bottom: 11.7rem;
                    right: 7.7rem;
                    z-index: 15;
                    .prev,
                    .next {
                        width: 3rem;
                        height: 3rem;
                        display: block;
                        top: 1.5rem;
                        transform: translateY(-50%);
                        background-image: url(/img/icon-slider-prev.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        cursor: pointer;
                    }
                    .next {
                        background-image: url(/img/icon-slider-next.png);
                    }
                }
            }
            .info {
                background: $blue;
                width: 50rem;
                padding: 7.6em 2.2em 6.5rem;
                top: 10.5rem;
                z-index: 10;
                position: absolute;
                left: 9.6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                .info__text {
                    text-align: center;
                    .content-box {
                        color: $white;

                        h3 {
                            text-transform: uppercase;
                            font-size: 2em;
                            line-height: 1.4;
                            margin-bottom: 0.4em;
                            margin-top: 4rem;
                        }
                        p {
                            font-size: 1.8em;
                            line-height: 1.6;
                            margin-bottom: 0.6em;
                        }
                    }

                    .btn {
                        margin: 4.1em auto 0.8em;
                        padding: 0.5em 2em;
                    }
                }
            }
        }
    }
}

.bottom-text--halls {
    margin: 3.6rem 0 3.8rem 0;
    .container {
        .row.row__slogan {
            color: $blue;
            p.slogan__text {
                padding: 0 15rem;
                line-height: 1.4;
                margin-bottom: 1rem;
                font-size: 2rem;
            }

            .btn {
                left: 50%;
                transform: translateX(-50%);
                margin: 1rem 0 0 0;
                padding: 0.8rem 3.6rem;
            }
        }
    }
}
