.common-hall {
    margin: 5rem 0 7.4rem;
    @media screen and (max-width: 768px) {
        margin: 2rem 0;
    }
    .container {
        .row {
        }
        .row__hall {
            display: flex;
            align-items: stretch;
            justify-content: space-between;

            @media screen and (max-width: 768px) {
                flex-direction: column-reverse;
            }
            .col {
            }
            .col__info {
                width: 46%;
                flex: none;
                padding: 0 2rem 0 16rem;
                @media screen and (max-width: 768px) {
                    width: 100%;
                    padding: 0 1.5rem;
                    position: relative;
                    height: auto;
                }
                .section-title {
                    font-size: 5em;
                    text-transform: uppercase;
                    width: 100%;
                    text-align: center;
                    margin: 0 0 0.4em 0;
                    padding: 0 0 0 3.4rem;
                    line-height: 1;
                    text-align: left;
                    @media screen and (max-width: 768px) {
                        font-size: 2rem;
                        padding: 0;
                        text-align: center;
                        width: 100%;
                        color: #333;
                        margin: 2rem 0;
                    }
                }

                .content-box {
                    width: 100%;
                    color: $blue;
                    p {
                        line-height: 1.4;
                        @media screen and (max-width: 768px) {
                            font-size: 1.4rem;
                            margin: 0 0 2rem 0;

                            &:last-child {
                                margin: 0;
                            }
                        }
                    }
                }

                .btn {
                    margin: 5.8rem 0 0 9.5rem;
                    padding: 0.5rem 3.6rem 1rem;
                    @media screen and (max-width: 768px) {
                        font-size: 1.4rem;
                        left: 50%;
                        transform: translateX(-50%);
                        margin: 3rem 0 0 0;
                    }
                }
            }

            .col__photo {
                width: 54%;
                flex: none;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                @media screen and (max-width: 768px) {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    left: auto;
                    top: auto;
                    right: auto;
                    bottom: auto;
                }
                .bg-photo {
                    position: absolute;
                    width: 55rem;
                    height: 55rem;
                    background: $blueGlass;
                    right: 12rem;
                    z-index: -1;

                    @media screen and (max-width: 768px) {
                        display: none;
                    }
                }

                .hall__gallery {
                    position: relative;
                    width: 55rem;
                    height: 55rem;
                    margin: 5rem 22rem 0 0;
                    z-index: 10;

                    @media screen and (max-width: 768px) {
                        width: 100%;
                        left: auto;
                        right: auto;
                        top: auto;
                        bottom: auto;
                        position: relative;
                        margin: 0;
                        padding: 0;
                        height: 35rem;
                    }
                    .swiper {
                        width: 100%;
                        height: 100%;
                        .swiper-wrapper {
                            height: 100%;
                            .swiper-slide {
                                width: 100%;
                                height: 100%;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                            }
                        }
                        .controls {
                            width: 85%;
                            left: 50%;
                            transform: translateX(-50%);
                            .prev {
                            }
                            .next {
                            }
                        }
                    }
                }
            }
        }
    }
}
.marble-hall {
    margin: 5rem 0 5.6rem;
    @media screen and (max-width: 768px) {
        margin: 5rem 0 2rem 0;
        flex-direction: column;
    }
    .container {
        .row {
        }
        .row__hall {
            .col {
            }
            .col__photo {
                @media screen and (max-width: 768px) {
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    left: auto;
                    top: auto;
                    right: auto;
                }
                .bg-photo {
                    right: 2.9rem;
                    width: 62.5rem;
                    height: 54.7rem;

                    @media screen and (max-width: 768px) {
                        display: none;
                    }
                }

                .hall__gallery {
                    margin: 5rem 0 0 0;
                    .swiper {
                        .swiper-wrapper {
                            .swiper-slide {
                            }
                        }
                        .controls {
                            .prev {
                            }
                            .next {
                            }
                        }
                    }
                }
            }
            .col__info {
                padding: 0 2rem 0 4.2rem;
                @media screen and (max-width: 768px) {
                    padding: 0 1.5rem;
                }
                .section-title {
                    padding: 0;
                }

                .content-box {
                    p {
                    }
                }

                .btn {
                    margin: 5.8rem 0 0 15.5rem;
                    @media screen and (max-width: 768px) {
                        margin: 3rem 0 0 0;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}

.bottom-text--halls {
    margin: 3.6rem 0 5.5rem 0;
    .container {
        .row__slogan {
            @media screen and (max-width: 768px) {
                padding: 0 3rem;
            }
            p.slogan__text.center {
                margin-bottom: 3.2rem;
                line-height: 1.5;
                @media screen and (max-width: 768px) {
                    padding: 0;
                    margin: 0 0 1em 0;
                    font-size: 1.4rem;
                }

                &:last-of-type {
                    margin: 0;
                }
            }

            .btn.btn--blue {
                padding: 1rem 2rem;
                margin: 5.5rem 0 0 0;

                @media screen and (max-width: 768px) {
                    font-size: 1.4rem;
                    margin: 3rem 0 0 0;
                    bottom: auto;
                    padding: 0.5rem 3.6rem 1rem;
                }
            }
        }
    }
}
