* {
    position: relative;
    outline: none;
    font-family: "Palatino Linotype", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    overflow-x: hidden;
    font-size: 0.5208333vw;

    @media screen and (max-width: 1440px) {
        font-size: 10px;
    }
}

body {
    font-size: 0.5208333vw;
    min-width: 32rem;
    overflow: hidden;
    height: 100%;
    // @media screen and (min-width: 1900px) {
    //     font-size: 10px;
    // }
    @media screen and (max-width: 1440px) {
        // font-size: 0.67207vw;
        font-size: 10px;
    }

    @media screen and (max-width: 1024px) {
        // font-size: 0.7812499vw;
    }
}

.container {
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
        max-width: 100%;
    }
}
.row {
    margin: 0 -1.5rem;
    padding: 0 1.5rem;
}

.content-box {
    width: 100%;
    h3 {
        text-transform: uppercase;
        font-size: 1.8rem;
        line-height: 1.4;
        margin-bottom: 0.6rem;
    }
    p {
        font-size: 1.8rem;
        line-height: 1.4;
        margin-bottom: 0.6rem;
    }
    ul {
        padding-left: 2rem;
        margin-bottom: 0.6rem;
        li {
            font-size: 1.8rem;
            line-height: 1.4;
        }
    }
    a {
        font-size: 1.8rem;
        text-decoration: none;
        padding-bottom: 0.1rem dashed $text;
        line-height: 1.4;
    }
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
    color: $text;
    background-color: $white;
    border: 0.1em solid $text;
    cursor: pointer;
    transition: all 0.3s linear;

    &.btn--blue {
        color: $white;
        background-color: $blue;
        border: 0.1em solid $blue;

        &:hover {
            background-color: $blueGlass;
            border-color: $blueGlass;
        }
    }
}

.section-title {
    font-size: 5em;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: 0 0 0.4em 0;
    padding: 0;
    color: $blue;
    font-family: "Trebuchet MS", sans-serif;

    @media screen and (max-width: 1440px) {
        font-size: 4rem;
    }
    @media screen and (max-width: 991px) {
        font-size: 3.2rem;
    }
    @media screen and (max-width: 768px) {
        font-size: 2rem;
        width: 100%;
        text-align: center;
        font-weight: bold;
        padding: 0;
    }
}

.controls {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 0;
    bottom: 5rem;
    z-index: 15;
    .prev,
    .next {
        width: 3rem;
        height: 3rem;
        display: block;
        top: 1.5rem;
        transform: translateY(-50%);
        background-image: url(/img/icon-slider-prev.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .next {
        background-image: url(/img/icon-slider-next.png);
    }
}

.pre-footer {
    margin: 6rem 0 1rem;
    .container {
        .row {
            .section-title {
                line-height: 1;
            }
        }
    }
}
