.header {
    margin: 0 0 2.4rem 0;
    .container {
        height: 70.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @media screen and (max-width: 1280px) {
            height: 55rem;
        }
        .row {
            .top-line {
                display: flex;
                align-items: stretch;
                justify-content: center;
                height: 8rem;
                z-index: 10;
                @media screen and (max-width: 991px) {
                    justify-content: space-between;
                    padding: 0 1.5rem;
                }
                &::after {
                    position: absolute;
                    display: block;
                    content: "";
                    width: 100%;
                    height: 100%;
                    left: 0;
                    background-color: $blueGlass;
                    z-index: -1;
                }
                .col {
                    height: 100%;
                }
                .col__address {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    flex: none;
                    padding: 0 0 0 3rem;
                    height: 100%;
                    @media screen and (max-width: 991px) {
                        display: none;
                    }
                    .address {
                        font-size: 1.6rem;
                        line-height: 1.35;
                        color: #fff;
                        text-decoration: none;
                    }
                }
                .col__logo {
                    -webkit-box-flex: 0;
                    -ms-flex: none;
                    flex: none;
                    text-align: center;
                    width: 30rem;
                    @media screen and (max-width: 991px) {
                        width: 15rem;
                    }

                    .logo {
                        display: inline-flex;
                        text-decoration: none;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        width: 19rem;
                        margin: 0;
                        text-align: center;
                        margin: 0 0 0 1.1rem;
                        left: 2rem;
                        @media screen and (max-width: 991px) {
                            width: 100%;
                            margin: 0;
                            margin: auto;
                            left: auto;
                            top: auto;
                            right: auto;
                            bottom: auto;
                            justify-content: flex-start;
                        }
                        .logo__img {
                            max-width: 100%;
                            max-height: 100%;
                            width: auto;
                            height: auto;
                        }
                    }
                }
                .col__contacts {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    flex: none;
                    padding: 0 0 0 6rem;
                    height: 100%;
                    @media screen and (max-width: 991px) {
                        padding: 0;
                    }
                    .contact {
                        font-size: 1.6rem;
                        line-height: 1.35;
                        font-weight: 600;
                        color: #fff;
                        text-decoration: none;
                        @media screen and (max-width: 991px) {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
        .row {
            .nav__wrap {
                background-color: $blue;
                @media screen and (max-width: 991px) {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
                .nav {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: $blue;
                    padding: 2.5rem 10rem 2.5rem;
                    z-index: 10;

                    @media screen and (max-width: 1440px) {
                        padding-left: 6.5rem;
                        padding-right: 6.5rem;
                    }
                    @media screen and (max-width: 1024px) {
                        padding-left: 3.5rem;
                        padding-right: 3.5rem;
                    }
                    @media screen and (max-width: 991px) {
                        position: absolute;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        z-index: 999;
                        display: none;
                        top: 0;
                    }
                    .nav__item {
                        display: inline-block;
                        width: auto;
                        @media screen and (max-width: 991px) {
                            width: 100%;
                            font-size: 2rem;
                            line-height: 2.5;
                        }
                        .nav__link {
                            font-size: 1.5rem;
                            font-weight: 700;
                            text-transform: uppercase;
                            color: #ffffff;
                            text-decoration: none;

                            @media screen and (max-width: 1280px) {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
                .burger {
                    // position: absolute;
                    display: none;
                    width: 3rem;
                    height: 3rem;
                    background-image: url(/img/icon-burger.svg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                    margin: 0 2.2rem 0 0;
                    z-index: 1000;
                    @media screen and (max-width: 991px) {
                        display: block;
                    }
                }
            }
        }

        .row {
            .bronirovanie {
                max-width: 120rem;
                width: 100%;
                height: 9rem;
                margin: 41rem auto 0;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                z-index: 10;

                @media screen and (max-width: 1280px) {
                    max-width: 100%;
                    background-size: contain;
                    height: 7.5rem;
                    margin-top: 30rem;
                }
            }
        }
    }
}
.header-rooms {
    .container {
        height: 56rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        .row {
            .top-line {
                display: flex;
                align-items: stretch;
                justify-content: center;
                height: 8rem;
                z-index: 10;
                &::after {
                    position: absolute;
                    display: block;
                    content: "";
                    width: 100%;
                    height: 100%;
                    background-color: $blueGlass;
                    z-index: -1;
                }
                .col {
                    height: 100%;
                }
                .col__address {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    flex: none;
                    padding: 0 0 0 3rem;
                    height: 100%;
                    .address {
                        font-size: 1.6rem;
                        line-height: 1.35;
                        color: #fff;
                        text-decoration: none;
                    }
                }
                .col__logo {
                    flex: none;
                    text-align: center;
                    width: 30rem;

                    .logo {
                        display: inline-flex;
                        text-decoration: none;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        width: 19rem;
                        margin: 0;
                        text-align: center;
                        margin: 0 0 0 1.1rem;
                        left: 2em;
                        @media screen and (max-width: 991px) {
                            margin: 0;
                        }

                        .logo__img {
                            max-width: 100%;
                            max-height: 100%;
                            width: auto;
                            height: auto;
                        }
                    }
                }
                .col__contacts {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    flex: none;
                    padding: 0 0 0 6rem;
                    height: 100%;
                    .contact {
                        font-size: 1.6rem;
                        line-height: 1.35;
                        font-weight: 600;
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
        .row {
            .nav {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #14315e;
                padding: 2.5rem 10rem 2.5rem;
                z-index: 10;
                @media screen and (max-width: 1440px) {
                    padding-left: 6.5rem;
                    padding-right: 6.5rem;
                }
                @media screen and (max-width: 1024px) {
                    padding-left: 3.5rem;
                    padding-right: 3.5rem;
                }
                @media screen and (max-width: 991px) {
                    position: absolute;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    z-index: 999;
                }

                .nav__item {
                    display: inline-block;
                    width: auto;
                    @media screen and (max-width: 991px) {
                        width: auto;
                        font-size: 2rem;
                        line-height: 2.5;
                    }
                    .nav__link {
                        font-size: 1.5rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: #ffffff;
                        text-decoration: none;
                    }
                }
            }
        }

        .row {
            .bronirovanie {
                max-width: 120rem;
                width: 100%;
                height: 9rem;
                margin: 29.5rem auto 0;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                z-index: 10;
            }
        }
    }
}
.header-spa,
.header-cottages {
    .container {
        height: 44rem;

        .row {
            .top-line {
                &::after {
                    display: none;
                }
            }
        }

        &::after {
            position: absolute;
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $blueGlass;
            z-index: 1;
        }

        .row__slogan {
            z-index: 10;
            color: $white;
            text-align: center;
            font-size: 2.5rem;
            line-height: 1.75;
            margin: 1.8rem auto 1.6rem;
            .slogan__text {
            }
        }
        .row {
            .bronirovanie {
                margin: 2.2em auto;
            }
        }
    }
}

.header-spa {
    .container {
        padding: 0 0 3rem 0;
        height: auto;

        .row {
            .top-line {
                &::after {
                    display: none;
                }
            }
        }

        &::after {
            position: absolute;
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $blueGlass;
            z-index: 1;
        }

        .row__slogan {
            margin: 1.5rem auto 1.2rem;
            line-height: 1.4;
            .slogan__text {
            }
        }
        .row {
            .bronirovanie {
                margin: 2.2rem auto 0;
            }
        }
    }
}
.header-actions {
    .container {
        padding: 0 0 3rem 0;
        height: auto;

        .row {
            .top-line {
                &::after {
                    display: none;
                }

                &::after {
                    position: absolute;
                    display: block;
                    content: "";
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: $blueGlass;
                    z-index: -1;
                }
            }
        }

        .row__slogan {
            margin: 1.5rem auto 1.2rem;
            line-height: 1.4;
            .slogan__text {
            }
        }
        .row {
            .bronirovanie {
                margin: 3.2rem auto 0;
            }
        }
    }
}

.header-restaraunts {
    .container {
        height: auto;

        .row__slogan {
            z-index: 10;
            color: #14315e;
            text-align: center;
            font-size: 2rem;
            line-height: 1.4;
            margin: 2rem auto 2.4rem;
            padding: 0 8rem;
            .slogan__text {
                &:nth-child(2) {
                    margin: 0.4rem 0 0 0;
                }
            }
        }

        .row {
            .bronirovanie {
                margin: 3.2em auto 0;
            }
        }
    }
}

.header-business-halls {
    .container {
        height: auto;

        .row__slogan {
            z-index: 10;
            color: #14315e;
            text-align: center;
            font-size: 2rem;
            line-height: 1.4;
            margin: 2rem auto 2.4rem;
            padding: 0 8rem;
            @media screen and (max-width: 768px) {
                padding: 0 1.5rem;
            }
            .slogan__text {
                @media screen and (max-width: 768px) {
                    font-size: 1.4rem;
                    padding: 0;
                }
                &:nth-child(2) {
                    margin: 0.4rem 0 0 0;
                }
            }
        }

        .row {
            .bronirovanie {
                margin: 2.2rem auto 4rem;
            }

            .halls-parameters {
                display: inline-block;
                color: $blue;
                font-weight: 600;
                margin: 1rem 0 0 0;
            }
        }
    }
}

.header-ceremonial-halls {
    margin-bottom: 9rem;
    .container {
        height: auto;
        .row {
            .top-line {
                &::after {
                }
            }
        }

        .row__slogan {
            z-index: 10;
            color: #14315e;
            text-align: center;
            font-size: 2rem;
            line-height: 1.4;
            margin: 2rem auto 2.4rem;
            padding: 0 8rem;
            @media screen and (max-width: 768px) {
                padding: 0 1.5rem;
                font-size: 1.4rem;
            }
            .slogan__text {
                &:nth-child(2) {
                    margin: 0.4rem 0 0 0;
                }
            }
        }

        .row {
            .bronirovanie {
                margin: 2.2rem auto 4rem;
            }
        }
    }
}
