.home-restaurants {
    margin: 0 0 4rem 0;
    .container {
        padding: 1.5rem 0 5rem 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media screen and (max-width: 991px) {
            padding: 2rem 3rem;
        }
        @media screen and (max-width: 768px) {
            padding: 2rem 1.5rem;
        }
        &::after {
            position: absolute;
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            background: $blueGlass;
            top: 0;
            left: 0;
            z-index: 1;
        }
        .row {
            z-index: 15;
            .section-title {
                margin: 1rem 0 0 0;
                font-size: 12rem;
                line-height: 1;
                color: #fff;

                @media screen and (max-width: 1440px) {
                    font-size: 4rem;
                    margin-bottom: 4rem;
                }
                @media screen and (max-width: 768px) {
                    font-size: 2rem;
                    margin-bottom: 2rem;
                }
            }

            .restaurants__info {
                color: #fff;
                font-size: 2.5rem;
                line-height: 2.4rem;
                max-width: 80rem;
                left: 50%;
                transform: translateX(-50%);
                line-height: 1.5;

                @media screen and (max-width: 1440px) {
                    font-size: 1.8rem;
                }
                @media screen and (max-width: 768px) {
                    font-size: 1.4rem;
                }

                p {
                    margin-bottom: 0.7rem;
                    @media screen and (max-width: 768px) {
                        margin-bottom: 1rem;
                    }

                    &:last-child {
                        margin: 0;
                    }
                }
            }

            .restaurants__more {
                color: #fff;
                font-size: 2.5rem;
                line-height: 2.4rem;
                max-width: 80rem;
                left: 50%;
                transform: translateX(-50%);
                line-height: 1.5;
                margin-top: 1.1rem;
                display: inline-block;

                @media screen and (max-width: 1440px) {
                    font-size: 2.2rem;
                }
                @media screen and (max-width: 768px) {
                    font-size: 1.6rem;
                }
            }
        }
    }
}
